<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LA PLAZA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <style>
        div.contenedor {
          background-color: #abbcff;
          padding: 20px;
        }
  
        p {
          padding: 10px;
          background-color: rgba(243, 229, 29, 0.952);
        }
  
        p.morado {
          background-color: purple;
        }
  
        p.verde {
          background-color: #0cd168;
        }
  
        p.naranja {
          background-color: rgba(219, 179, 46, 0.904);
        }
  
        /*propiedad background-image*/
        div.fondoimagen {
          max-width: 500px;
          min-height: 350px;
          background-image: url(/Seccion_1.2/Semana_2/01_Imagenes/2.jfif);
        }
      </style>
</head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>La plaza</title>
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous"
        />
        <link rel="stylesheet" href="css\bootstrap-reboot.min.css" />
        <link rel="stylesheet" href="css\index.css" />
        <link rel="stylesheet" href="C:\Users\Paola\Desktop\AGRO LABRANZA.COM\misiontic2022\src\main\resources\static\css\Productos.css" />
      </head>
      <body>
    
        <nav class="navbar navbar-expand-lg bg-black">
          <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
            <img  alt="" width="100" height="100"  class="d-inline-block align-text-center" src="C:\Users\Paola\Desktop\AGRO LABRANZA.COM\misiontic2022\src\main\resources\static\agro labranza.com.gif">
            <h4 class="d-inline-block align-text-center"style="color:#F08080; font-family:'verdana' , serif;"> LA PLAZA</h4>
            </a>
            <button class="badge border border-light rounded-circle bg-danger p-2" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
         
                <li class="nav-item ">
                  <a class="nav-link " aria-current="page" href="#campo"
                    style="color:#FFFFFF; font-family:'verdana', serif; ">Productos del campo Colombiano</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Frutas" style="color:#FFFFFF; font-family:'verdana', Times, serif;">Frutas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Verduras" style="color:#FFFFFF; font-family:'verdana', Times, serif; ">Verduras y
                    más</a>
                </li>

              </ul>     
              <ul> 
                <a href="Ingreso.html"><button type="submit" class="btn btn-warning" value="Submit" >
                  Ingresar
                  <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-danger p-2"
                    ><span class="visually-hidden" >Ingresar</span></span>
                </button></a> 
              
  
                <a href="registro.html"><button type="submit" class="btn btn-warning" value="Submit" >
                  Registrarse
                  <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-danger p-2"
                    ><span class="visually-hidden" >Registrarse</span></span>
                </button></a>

             
            </ul>         

            </div>
          </div>
        </nav>
    
    <P>  </P>
    <P>  </P>

    <style>
        html {
          height: 100%;
        }
        body {
          height: 100%;
          background-image: url(https://1.bp.blogspot.com/-_OpHFmQXisU/XS81p6qJWPI/AAAAAAAAGoA/lIMpJpGBxW0TFPT1UciK6bfQtX_1bWPVwCLcBGAs/s1600/Agroneg%25C3%25B3cio.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
        }
      </style>
    
    <div class="container j-conti"> 
      <style>
        .j-conti img {
          height:  250px;
          width: 250px;
          object-fit: cover; 
          border: 2px solid rgba(15, 18, 218, 0.925);
        }
      </style>
		
      <div id="carousel1" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel1" data-slide-to="0" class="active"></li>
          <li data-target="#carousel1" data-slide-to="1"></li>
          <li data-target="#carousel1" data-slide-to="2"></li>
          <li data-target="#carousel1" data-slide-to="3"></li>
          <li data-target="#carousel1" data-slide-to="4"></li>
          <li data-target="#carousel1" data-slide-to="5"></li>
          <li data-target="#carousel1" data-slide-to="6"></li>
          <li data-target="#carousel1" data-slide-to="7"></li>
          <li data-target="#carousel1" data-slide-to="8"></li>
          <li data-target="#carousel1" data-slide-to="9"></li>
          <li data-target="#carousel1" data-slide-to="10"></li>
          <li data-target="#carousel1" data-slide-to="11"></li>
          <li data-target="#carousel1" data-slide-to="12"></li>
          <li data-target="#carousel1" data-slide-to="13"></li>
        </ol>
        <!-- diapositivas -->
        <div class="carousel-inner">
          <div class="carousel-item">
              <img class="img-thumbnail" style="max-width:50%" width="300" height="150"src="https://i.pinimg.com/originals/1a/55/f3/1a55f3671f43408d6d1d8b9bb1badd0b.jpg" alt="">
            </div>
          <div class="carousel-item active">
            <img class="img-thumbnail" style="max-width:50%" width="300" height="150"src="https://i.pinimg.com/originals/ca/8d/08/ca8d08fdb49ecce5b7ef9c9fe744c376.jpg" alt="2">
          </div>
  
          <div class="carousel-item">
            <img class="img-thumbnail" style="max-width:50%" width="300" height="150"src="https://i.pinimg.com/originals/da/c5/ba/dac5bab91d358b98fd3000fa46ae9839.jpg" alt="">
          </div>
          <div class="carousel-item">
              <img class="img-thumbnail" style="max-width:50%" width="300" height="150"src="https://www.profedeele.es/wp-content/uploads/2013/04/Verduras.jpg" alt="">
          </div>
          <div class="carousel-item">
              <img class="img-thumbnail" style="max-width:50%"  width="300" height="150"src="https://i.pinimg.com/originals/b5/eb/b1/b5ebb1abee6b1ec5c5027930aaff62b6.jpg" alt="">
          </div>
  
          <div class="carousel-item">
              <img class="img-thumbnail" style="max-width:50%" width="300" height="150"src="https://i.pinimg.com/originals/fa/fe/a6/fafea6d7b84ff0f6ecbddfa9e60266b0.jpg" alt="">
          </div>
          <div class="carousel-item">
              <img class="img-thumbnail" style="max-width:50%" width="300" height="150"src="https://i.pinimg.com/originals/4b/45/23/4b4523019665e045e86f04cdeb45ae90.jpg" alt="">
          </div>
          <div class="carousel-item">
              <img class="img-thumbnail" style="max-width:50%" width="300" height="150"src="https://i.pinimg.com/originals/4d/5b/9c/4d5b9cecc7486681ae5677133f545a64.jpg" alt="">
          </div>
          <div class="carousel-item">
              <img class="img-thumbnail" style="max-width:50%" width="300" height="150"src="https://i.pinimg.com/originals/1a/3c/ce/1a3cce405e3c006168ca8a4f9e3d3738.jpg" alt="">
          </div>
  
          <div class="carousel-item">
              <img class="img-thumbnail" style="max-width:50%" width="300" height="150"src="https://i.pinimg.com/originals/19/63/1e/19631eff9fb7e59ea464a32cd4538c51.jpg" alt="">
          </div>
          <div class="carousel-item">
              <img class="img-thumbnail" style="max-width:50%" width="300" height="150"src="https://i.pinimg.com/originals/ba/89/61/ba89610570def84073579ae6ea0359a3.jpg" alt="">
          </div>
          <div class="carousel-item">
              <img class="img-thumbnail" style="max-width:50%" width="300" height="150"src="https://i.pinimg.com/originals/19/63/1e/19631eff9fb7e59ea464a32cd4538c51.jpg" alt="">
          </div>
  
          <div class="carousel-item">
              <img class="img-thumbnail" style="max-width:50%" width="300" height="150"src="https://i.pinimg.com/originals/db/01/44/db0144652a7279d26423b69880f217b6.jpg" alt="">
          </div>
  
        </div>
        <!-- botones de desplazamiento a izquierda y derecha -->      
        <a class="carousel-control-prev" href="#carousel1" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel1" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      
      </div>
      
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
     
    <div>
      <table width="400" color=eff19f align=center>
        <tr>
            <td>
        <nav class="navbar bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img
                src="https://cdn-icons-png.flaticon.com/512/2622/2622693.png"
                alt=""
                width="30"
                height="24"
                class="d-inline-block align-text-top"
              />
              INICIAR SESIÓN
            </a>
          </div>
        </nav>
        <div class="container j-conti">
          <div class="row">
            <div class="col-sm">   
          <label for="exampleFormControlTextarea1" class="form-label"
              >Usuario</label>
          <label></label>        
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="1"
              type="text" 
              placeholder="&#128273; Usuario"
               name="usuario" required
            ></textarea>
      
      
      
          <label for="inputPassword5" class="form-label">Contraseña</label>
          <input type="password" id="inputPassword5"  class="form-control" aria-describedby="passwordHelpBlock" placeholder="&#128274; Contraseña" name="pass" required>
          <div id="passwordHelpBlock" class="form-text">
          </ol>
          <a href="Olvidocontraseña.html"  rel="noopener noreferrer" id="Olvidocontraseña">Olvido su contraseña?</a>
          <a href="registro.html"  rel="noopener noreferrer" id="NuevoUsuario">Eres nuev@ registrate aquí</a>

        <div class="mt-3 right">
          <button type="submit" class="btn btn-warning" value="Submit">
            Iniciar sesión
            <span
              class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-danger p-2"
              ><span class="visually-hidden">Iniciar sesión</span></span
                >
              </button>
              
            </div>
            </div>
            
                    </div>
                  </div>
                </div>
              </body>
                </div>  
            
          
      
             
           </div>
      
          <br>
  
          </td>
      </tr>
      </table>
  
      </body>
    
  </div>


</body>
   
<footer>
  <div class="footer layout_padding bg-danger">
    <div class="container ">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h3>Contactenos</h3>
          <p>Colombia<br><br>(+57) 3209887626<br><br>agrolabranza.cm@gmail.com</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h3>Pages</h3>
          <p>
            <a href="index.html">Inicio</a><br>
            <a href="Productos.html" rel="noopener noreferrer">Productos</a><br>
            <a href="Ingreso.html"  rel="noopener noreferrer">Inicio de Sesión</a><br>
            <a href="registro.html" rel="noopener noreferrer">Registrate</a><br>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h3>Ultimas Noticias</h3>
          <p><span> <img style="border: 2px solid rgba(10, 10, 10, 0.925);"
                src="https://i.pinimg.com/originals/28/30/84/283084d7c1d7c52ca6a67aa75624817d.jpg"
                width="40"></span><span>Frutas y Verduras<br>Alimentos perecederos</span></p>
          <p class="margin_top_20"><span><img style="border: 2px solid rgba(3, 3, 3, 0.925);"
                src="https://i.pinimg.com/originals/a8/77/bd/a877bd50186346533f3d389fb59d2ca1.jpg"
                width="30"></span><span>Alimentos no perecederos<br>Arroz, Frijol y más...</span></p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
<!-- Javascript files-->
<script src="{{ url_for('static', filename= 'js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename= 'js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename= 'js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename= 'js/jquery-3.0.0.min.js') }}"></script>
<script src="{{ url_for('static', filename= 'js/plugin.js') }}"></script>

<!-- sidebar -->
<script src="{{ url_for('static', filename= 'js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
<script src="{{ url_for('static', filename= 'js/custom.js') }}"></script>

<!-- Javascript Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
  integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
  integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
  crossorigin="anonymous"></script>


</body>

</html>