<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>La plaza</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css\bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="css\index.css" />
    <link rel="stylesheet" href="C:\Users\Paola\Desktop\AGRO LABRANZA.COM\misiontic2022\src\main\resources\static\css\Productos.css" />
  </head>
  <body>

    <nav class="navbar navbar-expand-lg bg-black">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
        <img  alt="" width="100" height="100"  class="d-inline-block align-text-center" src="C:\Users\Paola\Desktop\AGRO LABRANZA.COM\misiontic2022\src\main\resources\static\agro labranza.com.gif">
        <h4 class="d-inline-block align-text-center"style="color:#F08080; font-family:'verdana' , serif;"> LA PLAZA</h4>
        </a>
        <button class="badge border border-light rounded-circle bg-danger p-2" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
     
            <li class="nav-item ">
              <a class="nav-link " aria-current="page" href="#campo"
                style="color:#FFFFFF; font-family:'verdana', serif; ">Productos del campo Colombiano</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Frutas" style="color:#FFFFFF; font-family:'verdana', Times, serif;">Frutas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Verduras" style="color:#FFFFFF; font-family:'verdana', Times, serif; ">Verduras y
                más</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="Ingreso.html" rel="noopener noreferrer"
              style="color:#129B37; font-family:'verdana', Times, serif;">Ingresar</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="registro.html" rel="noopener noreferrer"
              style="color:#129B37; font-family:'verdana', Times, serif;">Registrarse</a>
            </li>
          </ul>
        
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

<P>  </P>
<P>  </P>

    <div class="section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-5 mb-5">
            <div class="full main_heading_1">
              <div>
                <aside>
                  <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-white " style="inline-size: 350px;">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                      <span class="fs-4">PRODUCTOS</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                      <li class="nav-item">
                        <a href="#" class="nav-link active" aria-current="page">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                          PAPA
                        </a>
                      </li>
                      <li>
                        <a href="#" class="nav-link text-black">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                          PERA
                        </a>
                      </li>
                      <li>
                        <a href="#" class="nav-link text-black">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                          MANGO
                        </a>
                      </li>
                      <li>
                        <a href="#" class="nav-link text-black">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
                          DURAZNO
                        </a>
                      </li>
                      <li>
                        <a href="#" class="nav-link text-black">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                          ZANAHORIA
                        </a>
                      </li>
                      <li>
                        <a href="#" class="nav-link text-black">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                          BROCOLI
                        </a>
                      </li>
                    </ul>
                   
                  </div>
                </aside>
              
              </div>
  
  
            </div>
            <div class="full margin_top_30">
              <a class="main_bt"
                href="CrearProducto.html">CREAR NUEVO PRODUCTO</a>
            </div>
          </div>
          <div class="col-md-6 margin_top_70 padding_right_0" >
            <div class="full">

              <div class="container  mt-3 vj-destacados" ></div>
 
                <div class="row">
                  <!--Inicio de los cards-->
                  <div class="col-md-6 mb-6">
                    <div class="card">
                      <img
                        src="https://organicosysaludables.com/wp-content/uploads/2019/04/Papa-criolla-organica.jpg"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <h5 class="card-title">Julian Esteban Chaparro Lopez</h5>
                        <p class="card-text">
                          
                          se dedica al cultivo de Papa en la vereda del Corazón del municipio de Pesca
                           Boyacá. En su finca El Manzano, cultiva 3 variedades de Papa, 
                           con el apoyo del Banco Agrario, que ha financiado desde hace más de una década, sus proyectos productivos  </p>
                     
                          <p> Producto en venta: Papa Criolla </p>
                          <p>Cantidad: 1 Bulto </p>
                          <p>Precio: $ 70.000 </p>             
                        <P>Municipio: Boyacá-Tutaza </P>
                        <P>Dirección: Vereda- Tintal </P>
                        <P>Correo: marcosjulianp@gmail.com </P>
                        <P>Celular: 3125454343 </P>
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Actualizar</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Borrar</button>
                        </div>
                      </div>
                    </div>
                  </div>

        <div class="col-md-6 mb-6">
            <div class="card">
                <img
                src="https://www.comervipc.com/wp-content/uploads/2020/04/papa_sabanera-1.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Marcos Julian Lozano Perez</h5>
                <p class="card-text">
                  
                  se dedica al cultivo de Papa en la vereda del Tintal del municipio de Tutaza
                   Boyacá. En su finca El Torral, donde tiene más de 1.500 árboles, cultiva 5 variedades de papa, 
                   con el apoyo del Banco Agrario, que ha financiado desde hace más de una década, sus proyectos productivos  </p>
             
                  <p> Producto en venta: Papa sabanera </p>
                  <p>Cantidad: 1 Bulto </p>
                  <p>Precio: $ 50.000 </p>             
                <P>Municipio: Boyacá-Tutaza </P>
                <P>Dirección: Vereda- Tintal </P>
                <P>Correo: marcosjulianp@gmail.com </P>
                <P>Celular: 3125454343 </P>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Actualizar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Borrar</button>
                </div>
          </div>
        </div>
      </div>

        <div class="col-md-6 mb-6">
          <div class="card">
            <img
            src="https://www.comervipc.com/wp-content/uploads/2020/04/Papa_pastusa_corriente_comervipc.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Oscar Felipe Rubio Moreno</h5>
            <p class="card-text">
              
              se dedica al cultivo de Papa en la vereda del Corral del municipio de Mongua
               Boyacá. En su finca El Mirador, cultiva 3 variedades de Papa, 
               con el apoyo del Banco Agrario, que ha financiado desde hace más de una década, sus proyectos productivos  </p>
         
              <p> Producto en venta: Papa pastusa </p>
              <p>Cantidad: 1 Bulto </p>
              <p>Precio: $ 50.000 </p>             
            <P>Municipio: Boyacá-Mongua </P>
            <P>Dirección: Vereda- Corral </P>
            <P>Correo: oscarfeliper@gmail.com </P>
            <P>Celular: 3145768979 </P>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Actualizar</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Borrar</button>
            </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 mb-6">
          <div class="card">
            <img
            src="https://sembrandoconfianza.com/wp-content/uploads/2022/04/Pera-Nacional-400x400.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Santiago Tenjo Plazas</h5>
            <p class="card-text">
              
              se dedica al cultivo de Pera en la vereda del Mirador del municipio de Duitama Boyacá. En su finca El Campo Verde,
               cultiva 2 variedades de Pera, con el apoyo del Banco Agrario, que ha financiado desde hace más de una década, 
               sus proyectos productivos  </p>
         
              <p> Producto en venta: Pera común </p>
              <p>Cantidad: 1 Bulto </p>
              <p>Precio: $ 90.000 </p>             
            <P>Municipio: Boyacá-Duitama </P>
            <P>Dirección: Vereda- Mirador </P>
            <P>Correo: santiagotenjop@gmail.com </P>
            <P>Celular: 3145868990 </P>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Actualizar</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Borrar</button>
            </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 mb-6">
          <div class="card">
            <img
            src="https://sembrandoconfianza.com/wp-content/uploads/2022/04/Pera-Nacional-400x400.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Luis Fabio Rodriguez Sanchez</h5>
            <p class="card-text">
              
              se dedica al cultivo de Pera en la vereda del San Antonio del municipio de Duitama Boyacá. En su finca El Mortiño,
               cultiva 2 variedades de Pera, con el apoyo del Banco Agrario, que ha financiado desde hace más de una década, 
               sus proyectos productivos  </p>
         
              <p> Producto en venta: Pera común </p>
              <p>Cantidad: 1 Bulto </p>
              <p>Precio: $ 70.000 </p>             
            <P>Municipio: Boyacá-Duitama </P>
            <P>Dirección: Vereda- San Antonio </P>
            <P>Correo: LuisFrodriguez@gmail.com </P>
            <P>Celular: 3125868896 </P>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Actualizar</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Borrar</button>
            </div>
            </div>
          </div>
        </div>

        <!--Segunda línea de los cards-->
        <div class="col-md-6 mb-6">
          <div class="card">
            <img
            src="https://sembrandoconfianza.com/wp-content/uploads/2022/04/Pera-Nacional-400x400.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Julian Santiago Molina Corredor</h5>
            <p class="card-text">
              
              se dedica al cultivo de Pera en la vereda las Moyas del municipio de Pesca Boyacá. En su finca El Amanecer,
               cultiva 2 variedades de Pera, con el apoyo del Banco Agrario, que ha financiado desde hace más de 5 años, 
               sus proyectos productivos  </p>
         
              <p> Producto en venta: Pera común </p>
              <p>Cantidad: 1 Bulto </p>
              <p>Precio: $ 95.000 </p>             
            <P>Municipio: Pesca-Boyacá</P>
            <P>Dirección: Vereda- Las Moyas </P>
            <P>Correo: juliansantiagocorredor@gmail.com </P>
            <P>Celular: 3205868896 </P>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Actualizar</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Borrar</button>
            </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 mb-6">
          <div class="card">
            <img
            src="https://mercasmart.com/wp-content/uploads/2021/10/mango-scaled-1.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Sandra Milena Aponte</h5>
            <p class="card-text">
              
              Se dedica al cultivo de Mango en la vereda las Chircas del municipio de Turbio Antioquia. En su finca El Morral,
               cultiva 3 variedades de Mango, con el apoyo del Banco Agrario, que ha financiado desde hace más de 20 años, 
               sus proyectos productivos  </p>
         
              <p> Producto en venta: Mango Tomi</p>
              <p>Cantidad: 22 kilogramos  </p>
              <p>Precio: $ 35.000 </p>             
            <P>Municipio: Turbio-Antioquia</P>
            <P>Dirección: Vereda- Las chircas </P>
            <P>Correo: sandramilenaaponte@gmail.com </P>
            <P>Celular: 3155868896 </P>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Actualizar</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Borrar</button>
            </div>
          </div>
        </div>
      </div>
        

        <div class="col-md-6 mb-6">
          <div class="card">
            <img
            src="https://mercasmart.com/wp-content/uploads/2021/10/mango-scaled-1.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">CLaudia Marcela Acosta Jaramillo</h5>
            <p class="card-text">
              
              Se dedica al cultivo de Mango en la vereda las cruces del municipio de Monteria Córdoba  Villa Rica cauca. En su finca El paraiso,
               cultiva 3 variedades de Mango, con el apoyo del Banco Agrario, que ha financiado desde hace más de 15 años, 
               sus proyectos productivos  </p>
         
              <p> Producto en venta: Mango Tomi</p>
              <p>Cantidad: 23 kilogramos  </p>
              <p>Precio: $ 40.000 </p>             
            <P>Municipio: Monteria-Córdoba</P>
            <P>Dirección: Vereda- El paraiso </P>
            <P>Correo: claudiamarcelaacostaj@gmail.com </P>
            <P>Celular: 3225868896 </P>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Actualizar</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Borrar</button>
            </div>
            </div>
          </div>
        </div>

        
        <div class="col-md-6 mb-6">
            <div class="card">
              <img
              src="https://naturalfruvers.com/wp-content/uploads/2021/05/mango-yulima-natural-fruvers.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">CLaudia Maaria Parada Aponte</h5>
              <p class="card-text">
                
                Se dedica al cultivo de Mango en la vereda el Caloto del municipio de Villa Rica, Cauca. En su finca El Valle,
                 cultiva 3 variedades de Mango, con el apoyo del Banco Agrario, que ha financiado desde hace más de 6 años, 
                 sus proyectos productivos  </p>
           
                <p> Producto en venta: Mango Yulima</p>
                <p>Cantidad: 30 kilogramos  </p>
                <p>Precio: $ 45.000 </p>             
              <P>Municipio: Villa Rica, Cauca</P>
              <P>Dirección: Vereda- El Caloto </P>
              <P>Correo: caludiamariap@gmail.com </P>
              <P>Celular: 3165868890 </P>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Actualizar</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Borrar</button>
              </div>
              </div>
            </div>
          </div>

        <div class="col-md-6 mb-6">
          <div class="card">
            <img
            src="https://i.ytimg.com/vi/XW1Brwu5hsE/maxresdefault.jpg" 
            class="card-img-top"
            alt="..."
          />
    <div class="card-body">
        <h5 class="card-title">Juan Manuel Cuevas Correa</h5>
        <p class="card-text">
            se dedica al cultivo de duraznos en la vereda Río Arriba del municipio de Tipacoque, Boyacá. 
            En su finca El Paraíso, donde tiene más de 1.500 árboles, cultiva 14 variedades de la fruta, con el apoyo del Banco Agrario, que ha financiado desde hace más de una década, sus proyectos productivos.
         
            <p> Producto en venta: Durazno Criollo </p>
          <p>Cantidad: 1 bulto</p>
          <p>Precio:$ 140.0000</p>         
        
        <p>Boyaca Tipacoque</p>
        <p>Vereda Pamplona</p>
        <p>correo: granjarillo@granjarilo.com.co</p>
        <p>celulars:3152357484</p>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Actualizar</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Borrar</button>
        </div>
    </div>
  </div>
</div>

<div class="col-md-6 mb-6">
    <div class="card">
        <img
        src="https://profesionalagro.com/noticias/imagenes/2021/01/Kuhn-VARI-MASTER-L_WEB.jpg" 
        class="card-img-top"
        alt="..."/>
        <h5 class="card-title">Verteredas del arado Maria Alejandra Gutierrez</h5>
        <p class="card-text">
        Se dedica al cultivo de duraznos en la vereda del Arado del municipio de Pamplona, Santander. 
        En su finca El Arado,financiado desde hace más de una 12años en sus proyectos productos.
        <p> Producto en venta: Durazno Criollo </p>
        <p>Cantidad: 1 bulto</p>
        <p>Precio:$ 130.0000</p>        
        <p>Boyaca Tipacoque</p>
        <p>Vereda Pamplona</p>
        <p>correo: verteredasdelarado@verteredasdelarado.com.co</p>
        <p>celulars:3502456778</p>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Actualizar</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Borrar</button>
        </div>
    </div>
</div>



<div class="col-md-6 mb-6">
    <div class="card">
        <img
        src="https://i.ytimg.com/vi/XW1Brwu5hsE/maxresdefault.jpg" 
        class="card-img-top"
        alt="..."/>
        <h5 class="card-title">Juan Manuel Cuevas Correa</h5>
        <p class="card-text">
        se dedica al cultivo de duraznos en la vereda Río Arriba del municipio de Tipacoque, Boyacá. 
        En su finca El Paraíso, donde tiene más de 1.500 árboles, cultiva 14 variedades de la fruta, con el apoyo del Banco Agrario, que ha financiado desde hace más de una década, sus proyectos productivos.
        <p> Producto en venta: Durazno Criollo </p>
        <p>Cantidad: 1 bulto</p>
        <p>Precio:$ 140.0000</p>         
        <p>Boyaca Tipacoque</p>
        <p>Vereda Gran Jarillo</p>
        <p>correo: granjarillo@granjarilo.com.co</p>
        <p>celulars:3152357484</p>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Actualizar</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Borrar</button>
        </div>
    </div>
</div>


<div class="col-md-6 mb-6">
    <div class="card">
        <img
        src="https://i0.wp.com/tintatic.com/wp-content/uploads/2022/03/20220330_Cacota-Palnta-durazno_4547.jpg?resize=800%2C600&ssl=1" 
        class="card-img-top"
        alt="..."/>
        <h5 class="card-title">Asoprofruta Trina Rosa Vera Flórez</h5>
        <p class="card-text">
            En Cácota se cultivan dos variedades de duraznos, el amarillo o jarillo, que generalmente ser destina para la industria, y el gran jarillo, que es más rojo y dulce.</p>
        <p> Producto en venta: Durazno Rojo </p>
        <p>Cantidad: 1 bulto</p>
        <p>Precio:$ 135.0000</p>         
        <p>Santander Cácota</p>
        <p>Vereda Asoprofruta</p>
        <p>correo: asofruta@asofrita.com.co</p>
        <p>celulars:3218755684</p>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Actualizar</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Borrar</button>
        </div>
    </div>
</div>


<div class="col-md-6 mb-6">
    <div class="card">
        <img
        src="https://mejorconsalud.as.com/wp-content/uploads/2015/08/comer-muchas-zanahorias-2048x1365.jpg" 
        class="card-img-top"
        alt="..."/>
        <h5 class="card-title">Gerardo Pompilio Zenon</h5>
        <p class="card-text">Se dedica al cultivo de Zanahoria en la vereda de Cielo Verde del municipio de Sogamoso, Boyaca. 
            En su finca El Cilo Verde la zanahoria es una de las hortalizas más cultivadas en el mundo. Su consumo se ha extendido ampliamente, ya que actualmente se encuentra disponible en los mercados durante todo el año. La parte consumida de la zanahoria es su raíz, de la que existen múltiples formas y sabores. Destaca por su contenido en caroteno y vitaminas A, B y C.</p>
        <p>Producto en venta:Zanahoria o Daucus carota </p>
        <p>Cantidad: 1 bulto</p>
        <p>Precio:$ 120.0000</p>         
        <p>Santander Cácota</p>
        <p>Granja Agroecologica Cielo Verde</p>
        <p>correo: cieloverdeagroecologica@agroecologica.com.co</p>
        <p>celulars:3162543587</p>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Actualizar</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Borrar</button>
        </div>
    </div>
</div>


<div class="col-md-6 mb-6">
    <div class="card">
        <img
        src="https://agrosemval.com/wp-content/uploads/2020/05/zanahoria-royal-chantenay-ipc-01.jpg" 
        class="card-img-top"
        alt="..."/>
        <h5 class="card-title">Juan Fernando Mantilla</h5>
        <p class="card-text">Se dedica al cultivo de Zanahoria en la vereda la Trinidad del municipio de Duitama, Boyaca. 
            En su fincala tirnidad la zanahoria es una de las hortalizas más cultivadas en el mundo. Su consumo se ha extendido ampliamente, ya que actualmente se encuentra disponible en los mercados durante todo el año. La parte consumida de la zanahoria es su raíz, de la que existen múltiples formas y sabores. Destaca por su contenido en caroteno y vitaminas A, B y C.</p>
        <p>Producto en venta:Zanahoria </p>
        <p>Cantidad: 1 bulto</p>
        <p>Precio:$ 120.0000</p>         
        <p>Duitama Boyaca</p>
        <p>Vereda la Trinidad </p>
        <p>correo: latrinidad@latrinidad.com.co</p>
        <p>celulars:3215784565</p>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Actualizar</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Borrar</button>
        </div>
    </div>
</div>


    <div class="col-md-6 mb-6">
        <div class="card">
            <img
            src="https://www.antojoentucocina.com/wp-content/uploads/2022/02/zanahorias-1024x683.jpg" 
            class="card-img-top"
            alt="..."/>
            <h5 class="card-title">Gerardo Pulido Rozo San Terra</h5>
            <p class="card-text">Se dedica al cultivo de Zanahoria en la vereda de Cielo Verde del municipio de Sogamoso, Boyaca. 
                En su finca El Cilo Azul la zanahoria es una de las hortalizas más cultivadas en el mundo. Su consumo se ha extendido ampliamente, ya que actualmente se encuentra disponible en los mercados durante todo el año. La parte consumida de la zanahoria es su raíz, de la que existen múltiples formas y sabores. Destaca por su contenido en caroteno y vitaminas A, B y C.</p>
            <p>Producto en venta:Zanahoria o Daucus carota </p>
            <p>Cantidad: 1 bulto</p>
            <p>Precio:$ 130.0000</p>         
            <p>Sogamoso Boyaca</p>
            <p>Granja Cielo Azul</p>
            <p>correo: cieloazul@cieloazul.com.co</p>
            <p>celulars:3057672453</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Actualizar</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Borrar</button>
            </div>
        </div>
    </div>

        
    <div class="col-md-6 mb-6">
        <div class="card">
            <img
            src="https://elpoderdelconsumidor.org/wp-content/uploads/2016/11/brocoli.jpg" 
            class="card-img-top"
            alt="..."/>
            <h5 class="card-title">Jesus Octavio Piandoy </h5>
            <p class="card-text">Se dedica al cultivo de Brocoli y Coliflor en la vereda de Santa Lucia del municipio de San Bernardo, Nariño. 
                En su finca Santa Lucia de Veraniego El Brocoli es una de las hortalizas más cultivadas en el mundo. </p>
            <p>Producto en venta:Brocoli </p>
            <p>Cantidad: 1 bulto</p>
            <p>Precio:$ 40.0000</p>         
            <p>Nariño San Bernardo</p>
            <p>Vereda Santa Lucia</p>
            <p>correo: sanoctavi@gmail.com.co</p>
            <p>celulars:3174258745</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Actualizar</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Borrar</button>
            </div>
        </div>
    </div>

    
        <div class="col-md-6 mb-6">
            <div class="card">
                <img
                src="https://masbrocoli.com/web/wp-content/uploads/2018/05/yhgjkl.jpg" 
                class="card-img-top"
                alt="..."/>
                <h5 class="card-title">San Terra Julia Mendoza Pulgarin</h5>
                <p class="card-text">Se dedica al cultivo de Brocoli y Coliflor en la vereda Venecia del municipio de San Bernardo, Nariño. 
                    En su finca Nueva Venecia de Veraniego El Brocoli es una de las hortalizas más cultivadas en el mundo. </p>
                <p>Producto en venta:Brocoli </p>
                <p>Cantidad: 1 bulto</p>
                <p>Precio:$ 45.0000</p>         
                <p>Nariño San Bernardo</p>
                <p>Vereda Nueva Venecia</p>
                <p>correo: nuevavenecia@nuevaveneciaagricola.com.co</p>
                <p>celulars:3214587525</p>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Actualizar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Borrar</button>
                </div>
            </div>
        </div>



    
            <div class="col-md-6 mb-6">
                <div class="card">
                    <img
                    src="https://img.freepik.com/fotos-premium/plantaciones-brocoli-luz-atardecer-campo-coliflor-cultivo-hortalizas-organicas_72572-2793.jpg?w=2000" 
                    class="card-img-top"
                    alt="..."/>
                    <h5 class="card-title">Pedro Meneses Ardila</h5>
                    <p class="card-text">Se dedica al cultivo de Brocoli y Coliflor en la vereda La Vega del municipio de San Bernardo, Nariño. 
                        En su finca La Vega El Brocoli es una de las hortalizas más cultivadas en el mundo. </p>
                    <p>Producto en venta:Brocoli </p>
                    <p>Cantidad: 1 bulto</p>
                    <p>Precio:$ 40.0000</p>         
                    <p>Nariño San Bernardo</p>
                    <p>Vereda La Vega</p>
                    <p>correo: lavega@gmail.com.co</p>
                    <p>celulars:3185456457</p>
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Actualizar</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Borrar</button>
                    </div>
                </div>
            </div>

        <!--Final de los cards-->
      </div>
    </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end section--->

    <p> </p>
    <p> </p>
  
    <footer>
      <div class="footer layout_padding bg-danger">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
              <h3>Contactenos</h3>
              <p>Colombia<br><br>(+57) 3209887626<br><br>agrolabranza.cm@gmail.com</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <h3>Pages</h3>
              <p>
                <a href="index.html">Inicio</a><br>
                <a href="Productos.html"  rel="noopener noreferrer">Productos</a><br>
                <a href="Ingreso.html"  rel="noopener noreferrer">Inicio de Sesión</a><br>
                <a href="registro.html"  rel="noopener noreferrer">Registrate</a><br>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <h3>Ultimas Noticias</h3>
              <p><span> <img style="border: 2px solid rgba(10, 10, 10, 0.925);"
                    src="https://i.pinimg.com/originals/28/30/84/283084d7c1d7c52ca6a67aa75624817d.jpg"
                    width="40"></span><span>Frutas y Verduras<br>Alimentos perecederos</span></p>
              <p class="margin_top_20"><span><img style="border: 2px solid rgba(3, 3, 3, 0.925);"
                    src="https://i.pinimg.com/originals/a8/77/bd/a877bd50186346533f3d389fb59d2ca1.jpg"
                    width="30"></span><span>Alimentos no perecederos<br>Arroz, Frijol y más...</span></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="{{ url_for('static', filename= 'js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/jquery-3.0.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/plugin.js') }}"></script>
  
    <!-- sidebar -->
    <script src="{{ url_for('static', filename= 'js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/custom.js') }}"></script>
  
    <!-- Javascript Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"></script>
  
  
  </body>
  
  </html>
    
  

              
  </body>
</html>
